main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 4.75rem);
}

.generator {
  display: flex;
  flex-direction: column;

  p {
    border: none;
    background: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    display: block;
    cursor: pointer;
  }

  button {
    border: solid 1px #001427;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: #001427;
  }
}

.hex_container {
  position: relative;

  .tag {
    display: none;
  }

  .is-copied {
    display: block;
    position: absolute;
    color: white;
    padding: 0 1rem;
    background-color: #001427;
    border-radius: 8px;
    bottom: 3rem;
    right: 0;
  }
}
